.bash_profile
.bashrc
.profile
.gitconfig
.gitignore
.gitattributes
startup.sh
DScourse.code-workspace
.env
LaTex
.lesshst
__pycache__
README.md
jupyterhub-proxy.pid
jupyterhub.sqlite
```